<header style="background-color:rgba(135, 148, 16, 0.342);text-align:center;justify-content:center;width:100%;height:50px;">
    <h1>Fake News Detector</h1>
</header>
<p>
    Ce site est un détecteur de Fake News. 
    Il fonctionne à partir d'une API de machine learning développée en Python.
    Nous avons choisi d'utiliser un modèle de Logisitc Regression. 
    Ce modèle a été implémenté, entraîné et testé auparavant avant qu'il soit le plus performant possible.
    
    Attention, ce site ne fonctionne pour le moment que pour les sites en anglais. 
    Nous préparons actuellement le modèle pour les sites en français.

    Fonctionnement : 
    Vous copiez l'URL d'un article d'un des sites autorisés puis ovus la collez dnas le formulaire ci dessous.
    Cela la transmettra à notre API qui vous indiquera si cet article est une Fake News ou non.
</p>

Entrez l'URL <br/>
<input type="text"/><button>OK</button>
